$border-color-hover: #666;
$border-color: #999;
$border-color-light: #e4e7ed;
$border-radius: 4px;
$button-active-bg: #eee;
$button-bg: white;
$button-border-radius: 4px;
$button-disable-bg: #d8d8d8;
$button-disable-color: #aaaaaa;
$button-height: 32px;
$blue-light: #e6f7ff;
$color: #333;
$font-size: 14px;
$height: 32px;
$button-bg-dark: #999;
$button-bg-hover: #cdd3dd;
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
