$blue-light: #e6f7ff;
$blue: #1890ff;
$border-color-hover: #666;
$border-color-light: #e4e7ed;
$border-color: #999;
$border-radius: 4px;
$button-active-bg: #eee;
$button-bg-dark: #999;
$button-bg-hover-light: #ecf5ff;
$button-bg-hover: #cdd3dd;
$button-bg: white;
$button-border-radius: 4px;
$button-disable-bg: #d8d8d8;
$button-disable-color: #aaaaaa;
$button-height: 32px;
$color: #333;
$font-size: 14px;
$height: 32px;
$text-color: #909399;
$text-hover-color: #303133;
$grey: #909399;
$grey-light: #bfbfbf;
$tb-border: 1px solid $border-color-light;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
